<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Electric Arc Shock Tube (EAST) Test 59 Data</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="http://www.nasa.gov" class="brand-logo"><img src="{% static 'images/nasa_logo0.png' %}" alt="NASA Logo"></a>




        {% if user.is_authenticated %}
        <ul class="right hide-on-med-and-down">
        <li><a href="logout">Logout</a></li>
      </ul>
        {% endif %}

        {% if user.is_authenticated == False %}
      <ul class="right hide-on-med-and-down">
        <li><a href="register">Register</a></li>
      </ul>


	  <ul class="right hide-on-med-and-down">
        <li><a href="login">Login</a></li>
      </ul>
        {% endif %}

	  <ul class="right hide-on-med-and-down">
        <li><a href="#contact">Contact Us</a></li>
      </ul>

        {% if user.is_authenticated %}
        <ul class="right hide-on-med-and-down">
        <li><a href="updateSub">License</a></li>
      </ul>
        {% endif %}

	  <ul class="right hide-on-med-and-down">
        <li><a href="#data">Data Access</a></li>
      </ul>



      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Test</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
	  
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Electric Arc Shock Tube (EAST) Test 59 Data</h1>
        <div class="row center">
          <h5 class="header col s12 light">Source for test data and analysis</h5>
        </div>
        <div class="row center">
          <a href="#data" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">GET DATA</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background1.png' %}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <!--<h4>Contact Us</h4>-->
          <p class="left-align light">
			<font size="3">&emsp;The Ames Electric Arc Shock Tube (EAST) Facility is the only shock tube in the U.S. capable of simulating shock-heated gas environments at very high enthalpies encountered by atmospheric entry vehicles. The facility generates conditions for measurements of spectrally resolved radiance and kinetics of shock-heated gases from the vacuum ultraviolet through mid-infrared. The operating envelope of EAST covers velocities from 1.3 to 46 km/s at pressures between 13.3 and 5.3E+05 Pa in a variety of planetary atmospheres. The radiation data aid validation of computational tools used for the design and analysis of hypervelocity vehicles.<br/>
			
			&emsp;The EAST facility occupies approximately 400 square meters and is comprised of a 40 kV high voltage DC power supply, large 1.25 MJ capacitor bank, conical arc driver and 9m long driven tube.<br/>

			&emsp;Built in 1965, and after a few years of development, the EAST was commissioned fully operational in 1968 and has since become a key facility in the development and refinement of entry shock physics modeling and hypersonic Computational Fluid Dynamics (CFD) studies.<br/>

			&emsp;Most recently, the EAST facility has been used as the agency’s primary ground test facility for quantifying shock radiation for lunar return of the Orion crew vehicle at 8-12 km/s.<br/>

			&emsp;The EAST Facility provided key radiation data for many notable space programs such as the Galileo Jupiter probe, Huygens Titan probe and Mars Viking and Phoenix probes.<br/>

			&emsp;The EAST facility also conducted research for Neptune entry by characterizing electron density of shock-heated hydrogen at speeds up to 34 km/s It was also used for characterizing electrical conductivity of air and hydrogen at speeds up to 46 km/s as part of magneto-hydrodynamic (MHD) acceleration studies.<br/>

			&emsp;The EAST was also utilized as a 76.2 cm shock tunnel to conduct shadowgraph imaging and pressure measurement on various small scale blunt-body and hypersonic aircraft models and blast hardened ground facilities.</font></p>
        </div>
      </div>

    </div>
  </div>
  <a name="data"></a>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
	
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">Test Data Files</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background2.png' %}" alt="EAST picture"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Velocity Data</h5>

            <p class="light">Shot Velocity Record.xls contains selected details and notes for all shots, including velocity and spectrometer ranges. Spectrometer data are color coded to indicate the quality of the collected data. A key is given at the bottom of the sheet that describes the meaning of this.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">3D Analysis</h5>

            <p class="light">3D Spectra are stored in two file formats: *.SPE and *.csv. *.SPE is the native format of the spectrometers, and directly accessible through WinSpec software by PI-Acton and *.csv files are in a 3-column, comma separated, format with wavelength, position, intensity. Wavelength is expressed in nm; position is given in cm; intensity is given in uW/cm2-sr-nm.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Cross_sectional Data</h5>

            <p class="light">Spectral Cross-sections are stored in .xls format and contain the PI's best estimate of the "equilibrium" region for each shot. Some amount of analysis and plot overlays are contained within these files as well.</p>
          </div>
        </div>
      </div>

            {% if paid == True %}
            <!-- Buttons -->
                <div class="row">
                    <div  class="col s4">
                      <a width="" href="#modal1" id="download-button2" class="btn-large modal-trigger waves-effect waves-light teal lighten-1">GET DATA</a>
                    </div>
                    <div  class="col s4">
                      <a href="#modal2" class="btn-large modal-trigger waves-effect waves-light teal lighten-1">GET DATA</a>
                    </div>
                    <div  class="col s4">
                      <a href="#modal3" class="btn-large modal-trigger waves-effect waves-light teal lighten-1">GET DATA</a>
                    </div>
                </div>


            <!-- Modal Structure -->
              <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <h4>Velocity Data</h4>

                    <div class="col s6">
                        {% for file in dataFiles  %}
                        <h6><a href="media/{{file.file}}">{{file.name}} </a></h6>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                </div>
              </div>


            <div id="modal2" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <h4>3D Data</h4>

                    <div class="col s6c">
                        {% for file in figFiles  %}
                        <h6><a href="media/{{file.file}}">{{file.name}} </a></h6>
                        {% endfor %}

                        <br/><br/>

                        {% for file in speFiles  %}
                        <h6><a href="media/{{file.file}}">{{file.name}} </a></h6>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                </div>
              </div>

            <div id="modal3" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <h4>Cross Data</h4>

                    <div class="col s6">
                        {% for file in crossFiles  %}
                        <h6><a href="media/{{file.file}}">{{file.name}} </a></h6>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                </div>
              </div>
        {% else %}
            {% if user.is_authenticated %}
            <!-- Buttons -->
                <div class="row">
                    <div  class="col s4">
                      <a width="" href="#modal1" id="download-button2" class="btn-large modal-trigger waves-effect waves-light teal lighten-1">GET DATA</a>
                    </div>
                    <div  class="col s4">
                      <a class="btn-large waves-effect waves-light teal lighten-1" onclick="Materialize.toast('You need contact us in order to get a 3D Data licence', 10000)">GET DATA</a>
                    </div>
                    <div  class="col s4">
                      <a href="#modal3" class="btn-large modal-trigger waves-effect waves-light teal lighten-1">GET DATA</a>
                    </div>
                </div>

            <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <h4>Velocity Data</h4>

                    <div class="col s6">
                        {% for file in dataFiles  %}
                        <h6><a href="media/{{file.file}}">{{file.name}} </a></h6>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                    </div>
                </div>
              </div>

            <div id="modal3" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <h4>Cross Data</h4>

                    <div class="col s6">
                        {% for file in crossFiles  %}
                        <h6><a href="media/{{file.file}}">{{file.name}} </a></h6>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                </div>
              </div>

            {% else %}
                 <div class="row">
                    <div  class="col s4">
                      <a class="btn-large waves-effect waves-light teal lighten-1" onclick="Materialize.toast('You need to be logged in to download Data', 8000)">GET DATA</a>
                    </div>
                    <div  class="col s4">
                      <a class="btn-large  waves-effect waves-light teal lighten-1" onclick="Materialize.toast('You need to be logged in to download Data', 8000)">GET DATA</a>
                    </div>
                    <div  class="col s4">
                      <a class="btn-large  waves-effect waves-light teal lighten-1" onclick="Materialize.toast('You need to be logged in to download Data', 8000)">GET DATA</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}



    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background3.png' %}" alt="NASA Kennedy Space Center"></div>
  </div>

  <div class="container">
    <div class="section">
<a name="contact"></a>
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">
		  <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">message</i></h2>
            <h5 class="center">Send a Message!</h5>

            <p class="light">
			
			<div class="row">
				<form class="col s12">
				  <div class="row">
					<div class="input-field col s6">
					  <input id="first_name" type="text" class="validate">
					  <label for="first_name">First Name</label>
					</div>
					<div class="input-field col s6">
					  <input id="last_name" type="text" class="validate">
					  <label for="last_name">Last Name</label>
					</div>
				  </div>
				  <div class="row">
					<div class="input-field col s12">
						<input id="icon_telephone" type="tel" class="validate">
						<label for="icon_telephone">Telephone</label>
					</div>
				  </div>
				  <div class="row">
					<div class="input-field col s12">
					  <input id="email" type="email" class="validate">
					  <label for="email">Email</label>
					</div>
				  </div>
				  <div class="row">
					<div class="input-field col s12">
				      <textarea id="textarea1" class="materialize-textarea"></textarea>
				      <label for="textarea1">Message</label>
				    </div>
					<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
					
				  </div>
				</form>
			</div>
        
			
			</p>
          </div>
        </div>

        <div class="col s12 m8">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">map</i></h2>
            <h5 class="center">Kennedy Space Center</h5>

            <p class="light"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.896287524373!2d-80.65116412052151!3d28.572876893615238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e74b95a365c6fd%3A0x8b7339f246f869dd!2sKennedy+Space+Center!5e0!3m2!1sen!2sus!4v1517950012587" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
          </div>
        </div>
		</p>
        </div>
      </div>

    </div>
  </div>


  
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CSC 4388 System Design and Development</h5>
		  <h6 class="white-text">Scientific Decision Support System</h6>
          <p class="grey-text text-lighten-4">This site is an assignment where we as a group used the Agile development model from start to finish. Specifically, we used the Scrum approach to Agile development.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect to NASA</h5>
          <ul>
            <li><a class="white-text" href="https://www.facebook.com/NASA">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/nasa">Twitter</a></li>
            <li><a class="white-text" href="https://nasa.tumblr.com/">Tumblr</a></li>
            <li><a class="white-text" href="https://www.instagram.com/nasa/">Instagram</a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect to us</h5>
          <ul>
            <li><a class="white-text" href="mailto:jevans116@rams.wssu.edu">Joel Evans</a></li>
            <li><a class="white-text" href="mailto:scousins116@rams.wssu.edu">Sebastian Cousins</a></li>
            <li><a class="white-text" href="mailto:shuff114@rams.wssu.edu">Sean Huff</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Joel Evans, Sebastian Cousins &amp Sean Huff
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=" {% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %} "></script>
  <script type="application/javascript">
    $(document).ready(function () {
      if (window.location.href.indexOf('#') == 0) {
            let hash = window.location.href.split('#')[1];
            let hashTop = document.querySelector(`#${hash}`).offsetTop;
            window.scrollTop = hashTop;
        }
      });

      $(document).ready(function(){
        $('.modal').modal();
      });

  </script>

  </body>
</html>
