<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Registration Page</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=" {% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %} "></script>
    <script type="application/javascript">

        function CheckId() {
        $.post('/checkUserName', {username: $('#username').val()},
            function(data){
                console.log(data);

                if(data['available'] == true){
                    console.log("Email is good");
                    Materialize.toast('That Email is not in our records please use a valid address', 7000)
                } else {
                    console.log("Email is bad");
                }
        });
        }
        function onChange(){
         $("#username").change( function() {CheckId()});
        }
        $(document).ready(onChange);
   </script>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="http://www.nasa.gov" class="brand-logo"><img src="{% static 'images/nasa_logo0.png' %}" alt="NASA Logo"></a>

      {% if user.is_authenticated %}
        <ul class="right hide-on-med-and-down">
        <li><a href="logout">Logout</a></li>
      </ul>
        {% endif %}

        {% if user.is_authenticated == False %}
	  <ul class="right hide-on-med-and-down">
        <li><a href="login">Login</a></li>
      </ul>
        {% endif %}

	   <ul class="right hide-on-med-and-down">
        <li><a href="home#contact">Contact Us</a></li>
      </ul>


	  <ul class="right hide-on-med-and-down">
        <li><a href="home#data">Data Access</a></li>
      </ul>
        <ul class="right hide-on-med-and-down">
        <li><a href="home">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Test</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Update License</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
         <form class="col s12" method="post" action="updateSub" >
             {% csrf_token %}
		 <div class="row">
        <div class="input-field col s6">
          <input id="username" type="email" class="validate" name="username" required>
          <label for="username">Enter your email addresss</label>
        </div>
		</div>
      <div class="row">
        <div class="input-field col s6">
          <input id="firstN" type="text" class="validate" name="firstN" required>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="lastN" type="text" class="validate" name="lastN" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" required>
          <label for="password">Credit Card Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">

          <input id="paid" type="hidden" value="false" name="paid">

        </div>
      </div>
             <button class="btn-large waves-effect waves-light teal lighten-1" type="submit">Update License</button>
    </form>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background1.png' %}" alt="Unsplashed background img 1"></div>
  </div>



  </div>


  <a name="connect"></a>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CSC 4388 System Design and Development</h5>
		  <h6 class="white-text">Scientific Decision Support System</h6>
          <p class="grey-text text-lighten-4">This site is an assignment where we as a group used the Agile development model from start to finish. Specifically, we used the Scrum approach to Agile development.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect to NASA</h5>
          <ul>
            <li><a class="white-text" href="https://www.facebook.com/NASA">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/nasa">Twitter</a></li>
            <li><a class="white-text" href="https://nasa.tumblr.com/">Tumblr</a></li>
            <li><a class="white-text" href="https://www.instagram.com/nasa/">Instagram</a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect to us</h5>
          <ul>
            <li><a class="white-text" href="mailto:jevans116@rams.wssu.edu">Joel Evans</a></li>
            <li><a class="white-text" href="mailto:scousins116@rams.wssu.edu">Sebastian Cousins</a></li>
            <li><a class="white-text" href="mailto:shuff114@rams.wssu.edu">Sean Huff</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Joel Evans, Sebastian Cousins &amp Sean Huff
      </div>
    </div>


  </footer>

  </body>
</html>